$main-searchInput-color: hsla(0, 0%, 12%, 1), hsla(0, 0%, 17%, 1),
  hsla(0, 0%, 15%, 1);
$main-searchColorText: #cbcbcb;
$main-bg-color: #4d4ac9;
$main-send-button-color: #44277d;
$main-button-color: #999;
$main-input-color: #2C2C2C;
$main-font-family: "Poppins";
@import '../../globals.scss';
@import '../../../components/styles/HeaderContent.scss';




* {
  scrollbar-width: thin;
  scrollbar-color: $main-send-button-color $main-input-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  
}

*::-webkit-scrollbar-track {
  margin-top: 1rem;
  border-radius: 10px;
  background: $main-input-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $main-send-button-color;
  border-radius: 20px;
  border: 3px solid $main-input-color;
}

.chat-text {
  margin-top: 5rem;
  width: fit-content;
  color: #fff;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 12%;
}

.inbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.notification-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.message-holder
{
  overflow-y: auto;
  height: 750px;
  scroll-behavior: auto;

}
.message-wrapper:hover{
  background: linear-gradient(180deg, #361E65 0%, rgba(0, 0, 0, 0.50) 100%);
}

.message-wrapper {
  width: 270px;
  height: 105px;
  border-radius: 10px;
  background-color: #14003d;

  .ellipse {
    width: 5px;
    height: 4px;
    background-color: #44277d;
    border-radius: 100px;
    margin-top: 10%;
  }

  .user-card {
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .user-info {
    h1 {
      color: #999;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h2 {
      color: #999;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  p {
    color: #999;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 3% 15%;
  }

  .time-wrapper {
    display: flex;
    width: 12.968px;
    height: 11.833px;
    flex-direction: column;
    justify-content: center;
    padding-left: 35%;
    flex-shrink: 0;
    color: #7c01f6;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .rectangle {
    width: 270.173px;
    height: 1.315px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #361e65;
    margin-top: 3%;
  }
}

.container-holder {
  display: flex;
  flex-direction: row;
  padding: 2% 12%;
  gap: 30px;
  @include query(mobile)
  {
      // flex-direction: column;
        // .chatbox-container{
        //   width:100%;
        // }
        // align-items: center;
    
    }

  .left-side {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    width: auto;

    .messages {
      overflow-y: auto;
      scroll-behavior: auto;
      width: auto;
      height: 1000px;
  
    }

    .second-wrapper {
      width: 280px;
      display: flex;
      align-items: center;
      gap: 8%;
    }

  }

  .card-info-container
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 324px;
    height: 765px;
    background-color: #14003d;
    border-radius: 10px;
    .user-info{
        position: relative;
        top: 0;
        left: 0;
      .ellipse {
        position: relative;
        top: 0;
        left: 0;
      }
      .user-picture {
        position: absolute;
        top:5px;
        left: 5px;
      }
    }
    @include query(tablet)
  {
      display: none;    
    }
  }
  h1
  {
    color: #999;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  h2{
    color: #CBCBCB;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  h3
  {
    color: rgba(153, 153, 153, 0.60);
    font-size: 6px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .user-state{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
  }
  @include query(mobile)
    {
      
      
    }
}

.chatbox-container
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap:30px;
  @include query(mobile)
    {
        // width: auto;      
      // background-color: #fff ;
        // flex-direction: column;
        // align-items: center;
    
    }

.chatbox-wrapper {
  width: 820px;
  height: 105px;
  border-radius: 10px;
  background-color: #14003d;

  .card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3%;
    margin: 0px 50px;
    padding-top: 30px;

    h1 {
      color: #999;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    h2 {
      color: #cbcbcb;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .user-card {
    display: flex;
    flex-direction: column;
    gap: 30%;
  }


}
.message-box
  {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 820px;
    height: 831px;
    max-height:900px ;
    overflow-y: auto;
    border-radius: 10px;
    background-color: #14003d;
    .rectangle-1{
      width: 162px;
      height: 2px; 
      border-radius: 10px;
      opacity: 0.2;
      background: #CBCBCB;
    }
    
    .user-container-left, .user-container-right::after{
      
        content: "";
        clear: both;
        display: table;

    }

   
    .user-container-left {
          margin-left: 0.5rem;
          margin-top:0.5rem;
          display: flex;
          flex-direction: row;
          img {
            margin: 0 1.2rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
          .message-info-left {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        p{
          color: #FFF;
          background: #2C2C2C;
          border-radius: .5vh;
          padding: 1vh;
          max-width: 400px; 
          word-wrap: break-word; 
          font-size: 8px;
          font-style: normal;
          font-weight: 400;
          line-height: 14px;
        }
        span{
          margin-top: .5rem;
          color: #999;
          font-size: 8px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
  }
  .user-container-right
  {
        margin-right: 0.5rem;
        margin-top:0.5rem;
        display: flex;
        flex-direction: row-reverse;
        img {
          margin: 0 1.2rem;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
        .message-info-right {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          // height: 600px;
          p{
            margin-top: 1%;
            color: #FFF;
            background: #2C2C2C;
            border-radius: .5vh;
            padding: 1vh;
            float: right;
            max-width: 100px; 
            word-wrap: break-word; 
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: 14px;
          }
          span{
            margin-top: .5rem;
            color: #999;
            font-size: 8px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            width: fit-content;
          }
        }
  }

  .form-container
  {

    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    margin-left: 5rem;;
    gap: 2rem;
    left: 1.5rem;
    bottom:0%;
    width: auto;

  }
  input {
      flex: 1;
      background: #2C2C2C;
      padding: 8px;
      border-radius: 4px;
      color: #FFF;
      width:500px;
      font-size: 8px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
}
  
  input::placeholder
  {
    padding:  15px 10px;
    color: #999;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .send-conatainer{
      height: 32px;
      border-radius: 2px;
      background: #44277d;
      img {
          width:17px;
          height: 21px;
          margin: 0 7px;
      }
    }  
    .emoji-container{
      position: relative;
      margin: 4.5% -6%;

    }
    // .send-conatainer:hover{
    //   transition: .5s;  
    //     margin: 3.2% 8%;
    //     width:35px;
    //     height: 37px;
    //     img{
    //       transition: 1.5s;
    //       margin: 0 5px;
    //       width:25px;
    //       height: 26px;
        // }
    // }  
  }
}